<footer class="footer" id="contact">
    <div class="map-image image-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 contacto">
                    <h2>Contacto</h2>
                </div>
                <div class="col-sm-12 footer-address">
                    <div class="row">

                        <div class="col-sm-12 col-md-6 caja">
                            <div class="address-footer-item">
                                <div class="each-icon">
                                    <i class="uil uil-fast-mail"></i>
                                </div>
                                <div class="each-info">
                                    <h4>Email</h4>
                                    <!--<a href="mailto:leonardo.fuentes@udea.edu.co">leonardo.fuentes@udea.edu.co</a><br>-->
                                    <a href="mailto:leonardo.fuentes.bohorquez@gmail.com">leonardo.fuentes.bohorquez@gmail.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 caja">
                            <div class="address-footer-item">
                                <div class="each-icon">
                                    <i class="uil uil-phone"></i>
                                </div>
                                <div class="each-info">
                                    <h4>Phone</h4>
                                    <a href="callto:(880)-8976-987">(+57) 3138256074</a><br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--
                <div>
                    <form id="form" action="enviar.php" class="form">



                        <input name="nombre" id="name" required type="text" placeholder="nombre">

                        <input name="email" id="email" type="email" placeholder="Correo" required>

                        <textarea name="mensaje" placeholder="Tu mensaje" required></textarea>

                        <input type="submit" id="botont">Enviar mensaje>


                    </form>
                </div>
-->


                <div class="iconitos">
                    <div>
                        <ul class="social-icon">
                            <li><a class="icono" href="https://www.linkedin.com/in/-leonardo-fuentes-bohorquez/"
                                    target="_blank"> <i class="uil uil-linkedin"></i></a></li>
                            <li><a class="icono" href="https://github.com/leofu99" target="_blank"><i
                                        class="uil uil-github"></i></a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>




</footer>
