<footer class="footer" id="contact">
    <div class="map-image image-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 contacto">
                    <h2>Contacto</h2>
                </div>
                <div class="col-sm-12 footer-address">
                    <div class="row">
                 
                        <div class="col-sm-12 col-md-6 caja">
                            <div class="address-footer-item" >
                                <div class="each-icon">
                                    <i class="uil uil-fast-mail"></i>
                                </div>
                                <div class="each-info">
                                    <h4>Email</h4>
                                    <a href="mailto:leonardo.fuentes@udea.edu.co">leonardo.fuentes@udea.edu.co</a><br>
                                    <a href="mailto:yourmail@email.com">leonardofuentesbohorquez@gmail.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 caja">
                            <div class="address-footer-item">
                                <div class="each-icon">
                                    <i class="uil uil-phone"></i>
                                </div>
                                <div class="each-info">
                                    <h4>Phone</h4>
                                    <a href="callto:(880)-8976-987">(+57) 3138256074</a><br>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div>
                    <form id="form" action="" class="form" >
                       
                             
                           
                                <input name = "name"id="name"required type="text" placeholder="nombre" >
                          
                                <input  name = "email" id="email" type="email" placeholder="Correo" required>
                           
                                <textarea  name = "mensaje" placeholder="Tu mensaje" required></textarea>
                           
                                <button type="submit" id="botont">Enviar mensaje</button>
                           
                      
                    </form>
                </div>

                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScfByXR1F_eO8tuma7jjNTd7xFyG0WftcqehUuh5Gv07gA6LQ/viewform?embedded=true" width="640" height="677" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                
                
                    
                 
                        <div class="iconitos">
                            <div>
                                <ul class="social-icon">
                                    <li><a class="icono" href="https://www.linkedin.com/in/-leonardo-fuentes-bohorquez/" target="_blank"> <i class="uil uil-linkedin"></i></a></li>
                                    <li><a class="icono" href="https://github.com/leofu99" target="_blank"><i class="uil uil-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    
                
            </div>
        </div>
    </div>
</footer> 
<script>

    const $form = document.querySelector('#form')


    $form.addEventListener('submit',handleSubmit())

    function handleSubmit(event){
        event.preventDefault()
    }

</script>