*{
    color: var(--color-3);
}
#title{
    margin-bottom: 0;
    font-weight: bold;
}
h2{
    font-size: 3rem;
    color: var(--color-3);
 
    text-align: center;
}
p{
    
        color: var(--color-3);
        font-weight: bold;
        justify-content: right;
        text-align:justify;
    
}
h3{
    font-size: 2.4rem;
    text-align: center;
    color: var(--color-2);
    font-weight: bold;
    padding-bottom: 30px;
}
.row{
    align-items: center;
    position: relative;
}

.portfolio-modal{
    -webkit-box-shadow: 0px 16px 50px -4px rgba(0,123,255,0.41); 
    box-shadow: 0px 16px 50px -4px rgba(0,123,255,0.41);
    padding: 40px; 
    margin: 50px 30px;
   


}
.derecha{
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 15%;
  
    
}
.izquierda{
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 0%;


}

ul{
    text-align: justify;
    padding-inline-start: 0;
    padding:0;

    .colu{
    
  
        margin: 0px 6px;
        border-radius: 4px;
        margin-bottom: 10px;
        padding: 4px 0px;
        display: inline-block;
        
        span{
            border:2px solid var(--color-2);
            padding: 4px 10px;
            border-radius: 4px;
        }
    }

}
img,iframe{
    max-width: 100%;
    border-radius: 20px;
}
.botones{

    text-align:justify;
    align-items:center;


    
a{
    color: white;
    background-color: var(--color-2);
    align-content: center;
    text-align: center;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 20px;
    text-decoration: none;
    &:hover{
        font-size: 1.1rem;
        background-color:var(--color-3);

    }
    
}
}
.fondo{
    width: 100%;
    z-index: -100;
    display:table;
}
.celular{
    max-height: 400px;
    width: auto;
    text-align: center;
}


@media screen and (max-width: 500px){
    #celular{
    max-height: 100%;
    width: auto;
    }
}