<section class="portfolio" id="portfolio">
    <h2 id="title">Mi Portafolio</h2>

    <div class="portfolio-modal izquierda" id="sacha">
        <div class="container">
            <div class="row">
                <div class="col"><h3>SACHA</h3></div>

            </div>
            <div class="row mh-portfolio-modal-inner">
                <div class="col-sm-6">
                    <div class="mh-portfolio-modal-img">
                
                        <iframe
                            src="https://drive.google.com/file/d/1p-ba2brRasZ2w66l91Yb9ysOwSgHLGSY/preview"
                            allow="encrypted-media" height="308px" width="608px" >
                        </iframe>
                          
                    </div>
                </div>
                <div class="col-sm-6">
                    
                    <p>diseño e implementación del  "Sistema avanzado de clasificación de huevos automático" (SACHA),
                         a través de  Arduino, con el cual que se ha podido reducir el tiempo de trabajo en los galpones locales,
                         creando así la posibilidad de incrementar la capacidad productiva de los pequeños avicultores de la región.
                          Actualmente, el sistema se está desarrollando para llevar la contabilidad del producto.</p>       

                    <div class="about-tag">
                        <ul>
                            <li class="colu"><span>C++</span></li>
                            <li class="colu"><span>Arduino</span></li>
                            <li class="colu"><span>Eagle</span></li>
                            

                        </ul>
                    </div>
                    <div class="botones">
                   <a href="https://github.com/leofu99/SACHA"  target="_blank" class="btn btn-fill">Código</a>
                    </div>
                </div>
             
            </div>
        </div>
    </div>

   
    <div class="portfolio-modal derecha" id="podcast">
        <div class="container">
            <div class="row">
                <div class="col"><h3>Hello World pale blue dot</h3></div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                   
                   
                        <p>Este es un sitio web Responsive desarrollado a través de HTML y 
                            CSS con un diseño atractivo, que explora el mundo de la programación y
                            la tecnología por medio de un portal de Podcasts con invitadas estelares
                            y temas atractivos.
                
                        </p>    

                    <div class="about-tag">
                        <ul>
                            <li class="colu"><span>html</span></li>
                            <li class="colu"><span>css</span></li>
                            

                        </ul>
                    </div >
                    <div class="botones">
                    <a href="https://leofu99.github.io/podcast/"  target="_blank" class="btn btn-fill">Demo</a>
                    <a href="https://github.com/leofu99/podcast"  target="_blank" class="btn btn-fill">Código</a>
                </div>
                </div>

                <div class="col-sm-6">
                    <div class="mh-portfolio-modal-img">
                        <img src="/assets/podcast.png" alt="" class="img-fluid">
                          
                    </div>
                </div>

            
         
            </div>
        </div>
    </div>
    <div class="portfolio-modal izquierda" id="gifos">
        <div class="container">
            <div class="row">
                <div class="col"><h3>Gifos</h3></div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="/assets/gato.gif" alt="">
                   </div>
                <div class="col-sm-6">
                    
  
                    
                    <p>En este sitio web Responsive puedes buscar ver y clasificar tus gifs favoritos,
                        es más, puedes crear el tuyo.
                        Este proyecto fue desarrollado a través de HTML, CSS y JavaScript, con el 
                        uso de la API GIPHY, tarjetas y perifericos como la camara web del 
                        usuario
                    </p>
             

                    <div class="about-tag">
                        <ul>
                            <li class="colu"><span>html</span></li>
                            <li class="colu"><span>css</span></li>
                            <li class="colu"><span>Javascript</span></li>
                            

                        </ul>
                    </div>
                    <div class="botones">
                        <a href="https://leofu99.github.io/gifos/"  target="_blank" class="btn btn-fill">Demo</a>
                        <a href="https://github.com/leofu99/gifos"  target="_blank" class="btn btn-fill">Código</a>
                    </div>  
                </div>
                
            </div>
        </div>
    </div>

    <div class="portfolio-modal derecha" id="biblioteca">
        <div class="container">
            <div class="row">
                <div class="col"><h3>Mi Biblioteca</h3></div>

            </div>
            <div class="row mh-portfolio-modal-inner">
                <div class="col-lg-8 col-sm-6">
                    
                    <p>Esta es una aplicación móvil desarrollada a través de Kotlin
                        y el IDE de Android Studio, realizando la autenticación
                        y gestión de bases de datos a través de Firebase con el modelo CRUD
                         y el uso de API para acceder a la ubicación del usuario. Su función es
                         realizar un seguimiento detallado de los libros que el usuario ha leído,
                         prestado o reservado y para acceder a la información general de las bibliotecas más cercanas
                         a su ubicación actual;
                        lograr un acceso amigable y un uso adecuado de los datos y archivos multimedia por parte del usuario.</p>       

                    <div class="about-tag">
                        <ul>
                            <li class="colu"><span>Kotlin</span></li>
                            <li class="colu"><span>Android Studio</span></li>
                            
                            

                        </ul>
                    </div>
                    <div class="botones">
                    <a href="https://marvelapp.com/prototype/66dga5h/screen/70843930/"  target="_blank" class="btn btn-fill">Demo</a>
                    <a href="https://github.com/leofu99/MiBibliotecaV4.5"  target="_blank" class="btn btn-fill">Codigo</a>
                    <a href="https://drive.google.com/uc?id=1tnlFPT4EgD4k6-dG9nTRhXNaAp-9oGgz&export=download"  target="_blank" class="btn btn-fill">Apk</a>
                </div>       
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="mh-portfolio-modal-img1">
                        <img class="celular" id="celular" src="assets/biblioteca.png" alt="" class="img-fluid" >
                          
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</section>