<section class="portfolio" id="portfolio">
    <h2 id="title">Mi Portfolio</h2>

   
    <div class="portfolio-modal" id="podcast">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h3>Hello World pale blue dot</h3>
                   
                        <p>Este es un sitio web Responsive desarrollado a través de HTML y 
                            CSS con un diseño atractivo, en el cual puedes escuchar 4 interesantes 
                            podcasts con su información sin tener que salir de nuestra página web.
                        
            
                        </p>    

                    <div class="about-tag">
                        <ul>
                            <li class="colu"><span>html</span></li>
                            <li class="colu"><span>css</span></li>
                            

                        </ul>
                    </div >
                    <div class="botones">
                    <a href="https://leofu99.github.io/podcast/"  target="_blank" class="btn btn-fill">Demo</a>
                    <a href="https://github.com/leofu99/Podcast-Ac-mica"  target="_blank" class="btn btn-fill">Código</a>
                </div>
                </div>

                <div class="col-sm-7">
                    <div class="mh-portfolio-modal-img">
                        <img src="/assets/podcast.png" alt="" class="img-fluid">
                          
                    </div>
                </div>

            
         
            </div>
        </div>
    </div>
    <div class="portfolio-modal" id="gifos">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <img src="/assets/gato.gif" alt="">
                   </div>
                <div class="col-sm-5">
                    <h3>Gifos</h3>
                    <p>On this website you can search, view and classify your favorite gifs, what's more, you can create your own.
                        This project was developed through HTML, CSS and JavaScript, with the use of the giphy API, the use of cards and the use of peripherals such as the user's webcam.
                    </p>       

                    <div class="about-tag">
                        <ul>
                            <li class="colu"><span>html</span></li>
                            <li class="colu"><span>css</span></li>
                            <li class="colu"><span>Javascript</span></li>
                            

                        </ul>
                    </div>
                    <div class="botones">
                        <a href="https://leofu99.github.io/gifos/"  target="_blank" class="btn btn-fill">Live Demo</a>
                        <a href="https://github.com/leofu99/gifos"  target="_blank" class="btn btn-fill">My Code</a>
                    </div>  
                </div>
                
            </div>
        </div>
    </div>

    <div class="portfolio-modal" id="biblioteca">
        <div class="container">
            <div class="row mh-portfolio-modal-inner">
                <div class="col-sm-5">
                    <h3>Mi Biblioteca</h3>
                    <p>This is a mobile application developed through Kotlin and the Android Studio IDE, carrying out the authentication and management of databases through Firebase with the CRUD model and the use of APIs to access the user's location. Its function is to carry out detailed monitoring of the books that the user has read, loaned or reserved and to access the general information of the libraries closest to their current location; 
                        achieving friendly access and appropriate use of data and multimedia files by the user.</p>       

                    <div class="about-tag">
                        <ul>
                            <li class="colu"><span>Kotlin</span></li>
                            <li class="colu"><span>Android Studio</span></li>
                            
                            

                        </ul>
                    </div>
                    <div class="botones">
                    <a href="https://leofu99.github.io/gifos/"  target="_blank" class="btn btn-fill">Live Demo</a>
                    <a href="https://github.com/leofu99/MiBibliotecaV4.5"  target="_blank" class="btn btn-fill">My Code</a>
                </div>       
                </div>
                <div class="col-sm-7">
                    <div class="mh-portfolio-modal-img1">
                        <img src="assets/biblioteca.png" alt="" class="img-fluid" >
                          
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal" id="sacha">
        <div class="container">
            <div class="row mh-portfolio-modal-inner">
                <div class="col-sm-7">
                    <div class="mh-portfolio-modal-img">
                
                        <iframe
                            src="https://drive.google.com/file/d/1p-ba2brRasZ2w66l91Yb9ysOwSgHLGSY/preview"
                            allow="encrypted-media" height="308px" width="608px" >
                        </iframe>
                          
                    </div>
                </div>
                <div class="col-sm-5">
                    <h3>SACHA</h3>
                    <p>Design and implementation of the  "Sistema avanzado de clasificación de huevos automático" (SACHA), through Arduino, with which it has been possible to reduce work time in several local sheds, thus creating the possibility of increasing the productive capacity of small poultry farmers in the region. Currently, the system is being developed to keep the product accounting.</p>       

                    <div class="about-tag">
                        <ul>
                            <li class="colu"><span>C++</span></li>
                            <li class="colu"><span>Arduino</span></li>
                            <li class="colu"><span>Eagle</span></li>
                            

                        </ul>
                    </div>
                    <div class="botones">
                   <a href="https://github.com/leofu99/gifos"  target="_blank" class="btn btn-fill">Código</a>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</section>